@page "/Audit"

<PageTitle>Audit</PageTitle>

@if (_bookTimestamps.Count == 0)
    return;

<div class="d-flex text-center">
    <div class="bg-darkblue border col rounded p-4 text-white">
        <div class="d-flex">
            <select class="form-select col flex-grow-1" @bind="_selectedOrderbookId">
                @foreach (var item in _bookTimestamps)
                {
                    <option value="@item.Key">@item.Value.ToLocalTime()</option>
                }
            </select>
            <div class="">
                <button type="button" class="btn btn-outline-light @DisableIfNotSelected()" @onclick="LoadOrderBook">Load Orderbook</button>
            </div>
        </div>

    </div>
</div>

@if (_orderBook is not null)
{
    <div class="d-flex text-center">
        <div class="bg-darkblue border col rounded p-4 text-white">

            <div class="p-2">
                <h1 class="m-0">Historical Order book BTC EUR</h1>
                <p class="m-0">For: @_orderBook.TimeStamp.ToLocalTime()</p>
            </div>
        </div>
    </div>
    <BitstampChart OrderBook="_orderBook"></BitstampChart>
}