@page "/"

<PageTitle>Home</PageTitle>

<div class="d-flex text-center">
    <div class="bg-darkblue border col rounded p-4 text-white">

        <div class="p-2">
            <h1 class="m-0">Order book BTC EUR</h1>
            <p class="m-0">Requesting new data each @_refreshRateInSeconds seconds</p>
            <p class="m-0">Last updated: @_orderBook.TimeStamp.ToLocalTime()</p>
            <p class="m-0">Midpoint price: @_midPointPrice</p>
        </div>
    </div>
</div>
<BitstampChart OrderBook="_orderBook"></BitstampChart>
<div class="bg-darkblue border col rounded p-4 text-white">
    <h1 class="m-0">Buy some BTC</h1>
    <div class="d-flex">
        <div class="col">
            <p class="m-0">Amount:</p>
            <input @bind="UserAmount" />
        </div>
        <div class="col">
            <p class="m-0">Price:</p>
            <p class="m-0">@_userPrice</p>
        </div>
    </div>
</div>
